html, body {
  font-family: sans-serif;
}
header, main, footer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
main p {
  text-align: justify;
}
footer {
  margin-top: 3em;
  font-family: monospace;
}
footer .licence {
  text-align: center;
}

.responsive {
  overflow-x: auto;
}
table {
  table-layout: auto;
  border-collapse: collapse;
}
table td, table th {
  border: 1pt solid black;
  padding: 9px;
  white-space: nowrap;
}
table td.tappable {
  padding: 0;
}
table td.tappable > a {
  display: block;
  padding: 9px;
}